#APP
NODE_ENV=
PORT=3000

#POSTGRES
DATABASE_URL=

#REDIS
REDIS_URL=

#PINO
LOG_LEVEL=

#OIDC
OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=

#COOKIE
COOKIE_SECRET=

#JWT
JWT_SECRET=
JWT_ISSUER="sam-platform"
JWT_AUDIENCE="sam-platform"
JWT_EXPIRATION_SECONDS=